%b.rounded
  %b{:class => "rounded1#{classes}"}
    %b
  %b{:class => "rounded2#{classes}"}
    %b
  %b{:class => "rounded3#{classes}"}
  %b{:class => "rounded4#{classes}"}
  %b{:class => "rounded5#{classes}"}
.roundedfg
  = content
%b.rounded
  %b{:class => "rounded5#{classes}"}
  %b{:class => "rounded4#{classes}"}
  %b{:class => "rounded3#{classes}"}
  %b{:class => "rounded2#{classes}"}
    %b
  %b{:class => "rounded1#{classes}"}
    %b