.left
  %h1= t('feedback.h')
  %p.block
  -form_for(@feedback, :url => feedback_path ) do |f|
    #feedback_errors= f.error_messages
    %table.form
      %tr.footed
        %td= f.label t('feedback.type')
        %td= f.select :mail_type, t('feedback.types').split(',')
      %tr
        %td= f.label t('feedback.name')
        %td= f.text_field :name
      %tr
        %td= f.label t('feedback.email')
        %td= f.text_field :email
      %tr.spaced
        %td= f.label t('form.message')
        %td= f.text_area :message, :size => '80x6'
      %tr
        %td
        %td= f.submit t('form.submit'), :class => 'submit'
.divider
.right
  = render :partial => 'shared/info'