%ul
  %li= link_to 'Analytics', admin_analytics_path
  %li= link_to 'Experiments', admin_experiments_path
  %li= link_to 'Settings', admin_settings_path
  %br
  %li= link_to 'Comments', admin_comments_path
  %li= link_to 'Groups', admin_groups_path
  %li= link_to 'Items', admin_items_path
  %li= link_to 'Questions', admin_questions_path
  %li= link_to 'Trackings', admin_trackings_path
  %li= link_to 'Visit', admin_visits_path
  %li= link_to 'Users', admin_users_path